.custom-banner {
    height: 700px;  /* Adjust to control banner height */
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.light {
    position: relative !important;
    z-index: 2 !important;
}

/*.light::after {
/*    content: "" !important;
/*    position: absolute !important;
/*    top: 450px !important; /* Moves the gradient into the white block */
/*    left: 0 !important;
/*    width: 100% !important;
/*    height: 150px !important; /* Adjust height as needed */
/*    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) !important;
/*    z-index: 1 !important;
/*    pointer-events: none !important;
/*}

