.custom-banner {
    height: 700px;  /* Adjust to control banner height */
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.page-text {
    font-size: 0.6rem; /* Adjust paragraph text */
}